<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="active">Register</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <div>
                    {{#if errors}}
                    <div class="alert alert-danger">
                        {{errors}}
                    </div>
                    {{/if}}
                </div>
                <form method="POST" action="/register">
                    <div class="login-form">
                        <h4 class="login-title">Register</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label>First Name</label>
                                <input class="mb-0" type="text" placeholder="First Name" name="firstname">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label>Last Name</label>
                                <input class="mb-0" type="text" placeholder="Last Name" name="lastname">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Username</label>
                                <input class="mb-0" type="text" placeholder="Username" name="username">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label>Mobilephone</label>
                                <input class="mb-0" type="text" placeholder="Mobilephone" name="mob">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Password</label>
                                <input class="mb-0" type="password" placeholder="Password" name="password">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label>Confirm Password</label>
                                <input class="mb-0" type="password" placeholder="Confirm Password" name="passwordConfirm">
                            </div>
                            <div class="col-12">
                                <button class="register-button mt-0" type="submit" value="submit">Register</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{#each errorsArr}}
        <h4 class="alert alert-danger mt-4">{{errorsArr}}</h4>
        {{/each}}
    </div>
</div>