<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Fullname</th>
    <th>Mobilephone</th>
  </tr>
  {{#each listUser}}
  <tr>
    <td>{{id}}</td>
    <td>{{username}}</td>
    <td>{{fullname}}</td>
    <td>{{telephone}}</td>
  </tr>
  {{/each}}
</table>